<div class="container text-center">
    <h2>About Us</h2>
    <p>We are Dev/Match. Our company focuses on creating an exclusive community
    for developers, investors and entrepreneurs to meet.</p>
</div>
